<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta property="og:url" th:attr="content=${url}"/>
    <meta property="og:title" th:attr="content=${title}" />
    <meta property="og:image" th:attr="content=@{images/banner.jpg}" />
    <meta property="og:description" th:attr="content=${description}" />
</head>
<body>
<p th:text="${text}"></p>
<img th:attr="src=@{images/banner.jpg}" style="width:500px;height:250px;"/>
</body>
</html>